---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: Camillas Hårstudio är professionell och erfaren.
    image: "https://source.unsplash.com/rnkN_XuY1h4/60x60?a=.png"
    name: Joice Carmold
  - message: Absolut bäst!
    image: "//fillmurray.com/60/60?a=.png"
    name: Peter Rottenburg
  - message: Kan inte vara mer nöjd med servicen
    image: "//placebear.com/60/60?a=.png"
    name: D. and G. Gibbleston
---

<div class="editable">
	<p> En sida som om <strong> Camillas Hårstudio</strong>  En sida som om Camillas HårstudioEn sida som om Camillas HårstudioEn sida som om Camillas HårstudioEn sida som om Camillas HårstudioEn sida som om Camillas Hårstudio </p>

	<p>Mer info kommer som sagt</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
